div{
    background-color: rgb(234, 86, 86);
    width: 150px;
    height: 75px;
    font-size: 2em;
    display: inline-block;
    margin: 50

}

span{
    background-color: rgb(82, 82, 225);
    width: 150px;
    height: 150px;
    font-size: 2em;
    display: inline-block;
    margin: 50
}