.pagination{
    text-align: center;

}
.pagination a{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.pagination a.active{
    background: #333;
    color: #fff;
}
.pagination a:hover:not(.active){
    background: #ddd;
}